@import '@/styles/_vars.scss';

.aside {
    position: fixed;
    z-index: 5;
    left: 73vw
}

.nav {
    width: 100%;
    padding: $padding*2 $padding;

    background: $darkGrey;
    border-radius: $borderRadius + 4;

    @include flex-column;
    flex-wrap: wrap;

    text-align: center;

    &__link {
        transition: all ease $animation;

        &:hover {color: $orange}
    }
}

@media (max-width: 770px) {
    .aside {
        bottom: 0;
        left: 0
    }

    .nav {
        width: 100vw;
        flex-direction: row;
        justify-content: center;
        border-radius: 0
    }
}